body{
    background-color: #eeedec;
    background-image: url(src/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container{
    max-width: 400px;
}

.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
    background-color: rgb(54, 54, 56);
}